*{
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {font-size: 16px;}

.hidden {display: none;}

.svg-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.container img {
    width: 200px;
    height: 200px;
}

.container img {
    box-shadow: 10px 30px #f2f2f2;
}



